/*--FONTS--*/
/* font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive; */



* {
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    width: 99%;
    background: white;
    text-align: center;
}

h1 {
    font-size: 90px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    color: black;
    margin: 0px;
}

h2 {
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    font-weight: 100;
    color: black;
    margin: 10px 0px 10px 0px;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    position: relative; 
}

.images {
    width: 42vh;
    height: 30vh;
    margin: 0.7%;
}

img:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: transform 0.5s, opacity 0.5s;
    cursor: pointer;
}

#hide {
    /* width: 100%;
    height: 100%;
    top: 0px;
    position: absolute; */
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(85, 79, 79, 0.65);
    display: none;
    z-index: 10;
}

i {
    color: rgb(48, 47, 47);
}

i:hover {
    color:rgba(255, 255, 255, 0.445);
    cursor: pointer;
}

.ion-close-round {
    font-size: 40px;
    margin-left: 97%;
}

.ion-ios-arrow-back {
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 19%;

}

.ion-ios-arrow-forward {
    font-size: 60px;
    position: absolute;
    top: 45%;
    right: 19%;
}

#main_image {
    width: 50%;
    position: absolute;
    border: 4px solid grey;
    top: 20%;
    left: 25%;
}